<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="mybatis.model.Exercise" alias="Exercise"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="WorkoutDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/xml/ExerciseMapper.xml"/>
        <mapper resource="mybatis/xml/ExerciseCategoryMapper.xml"/>
        <mapper resource="mybatis/xml/CategoryMapper.xml"/>
        <mapper resource="mybatis/xml/SetMapper.xml"/>
        <mapper resource="mybatis/xml/WorkoutMapper.xml"/>
    </mappers>
</configuration>
